*{
	box-sizing: border-box;
}
ul{
	list-style: none;
	padding-left: 0;
}
header .container nav{
	background: #f0f0f0;
}
.menu{
	width: 15%;
	height: 50vh;
	float: left;
	border-right : 1px solid #e3e3e3;
	background: #f1f1f1;
	border-radius: 3px;
}
.menu ul li{
	width: 100%;
	border-radius: 2px;
	padding: 5px 8px;
	background: #d4d4d4;
	margin-bottom: 3px;
}
.menu ul li a{
	width: 100%;
	display: inline-block;
}
.menu ul li:hover{
	background: #b3b3b3;
}
.show{
	width: 85%;
	padding-left: 40px;
	float: left;
}
th, td{
	text-align: center;
}
.add{
	margin-bottom: 20px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: lightgreen;
}