*{
	box-sizing: border-box;
}
.home{
	background: #eee;
	padding: 50px;
}
header nav{
	width: 100%;
}
.container{
	width: 70%;
}
.intro{
	width: 90%;
	margin: auto;
	border-bottom: 1px solid #aaa;
	padding-bottom: 30px;
	margin-bottom: 50px;
}
a.btn{
	margin-top : 10px;
	width: 20%;
	padding: 10px;
}
.the-loai{
	width: 75%;
	margin:0 auto;
	overflow: auto;
}
.the-loai a{
	margin: 0;
	font-size: 16px;
	padding: 5px 0;
}
footer div{
	padding: 20px 0;
	margin-top: 20px;
	border-top: 1px solid #aaa;
}
.cover{
	margin-bottom: 15px;
}
.gioi-thieu-sach{
	width: 100%;
	border-top: 1px solid #ddd;
	padding : 20px 0;
	margin: 20px 15px 0;
	float: left;
}
.sidebar ul{
	list-style: none;
	padding: 0;
}
.sidebar ul li{
	line-height: 30px;
	padding: 0 5px;
}
.sidebar ul li:hover{
	background-color: #e3e3e3;
	border-radius: 5px;
}
.sidebar ul li:hover a{
	text-decoration: none;
}
.book > div{
	min-height: 260px;
}
.book div img {
	width: 100%;
	height: 160px;
}