*{
  box-sizing: border-box;
}
body{
  background: #e3e3e3;
}
legend{
  text-align: center;
  color: #000;
  border: none;
  margin-bottom: 10px;
}
fieldset{
  width: 600px;
  top: 50%;
  left: 50%;
  padding: 20px 30px;
  transform: translate(-50%,-50%);
  background: #f1f1f1;
  border: 1px solid #222;
  position: fixed;
  border-radius: 10px;
}
.form-horizontal .form-group{
  margin: 0;
  padding-top:10px;
}